<!DOCTYPE html>
<html lang="zh-tw">
<head>
	<!--<meta charset="UTF-8" http-equiv="refresh" content="5">-->

	<title>Highcharts</title>
		<!-- jQuery js -->	
		<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		
		<!--include the highcharts library-->
		<script src="http://code.highcharts.com/highcharts.js"></script>

		<!-- Bootstrap css and js -->
		<link  rel= "stylesheet"  href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
		<link  rel= "stylesheet"  href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" >
		<script src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>

	<script>
	function highcharsinit(){
		$('#container').highcharts({
			title: {
				text: 'Sensor data from MySQL to Highcharts',
				x: -20 
			},
			subtitle: {
				text: 'Light Value',
				x: -20
			},
			xAxis: {
				title: {
				text: 'Time'
				},
				categories: time,
				labels:{ //隱藏X軸的標籤
					enabled: false,
				}
			},
			yAxis: {
				title: {
				text: 'value',
				}
			},
			//圖表的資料
			series: [{
				name: 'Sensor-Light',
				data: values
			}]
		});
	}

	$(document).ready(function(){
		var data = {{dic|safe}}; 
		values = [];
		time = [];
		for (var i = 0; i < data.value.length; i++)
		{
			if(parseInt(data.status[i])==0)
				values.push({y:parseInt(data.value[i]), color: '#FF0000' });
			else
				values.push({y:parseInt(data.value[i]), color: '#00FF00' });
			time.push(data.time[i]);
		}
		highcharsinit();
	});

function myFunction() {
	$(document).ready(function(){
        $.ajax({
                type:"POST",
                url:"/highchart/",
				async:'asynchronous',
                success: function(){
                   location.reload(); 
                }
        });
        return false; 
	});
}

	</script>
</head>

<body>
	<div class="container">
		<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">Insert Highchart Here</div>
	</div>
    <button type="button" class="btn btn-primary" onclick="myFunction()">Trigger</button>
</body>
</html>